.terminal {
  font-family: monospace;
  font-size: 1em;
}

.edit-wrap{
    position:relative;
    width:800px;
}

.terminal-helper {
    position: absolute;
    z-index: 0;
    opacity: 0;
    height: 1px;
    width: 100px;
}

span.terminal-input {
    width: 900px;
}

span.terminal-input:after {
    content: "_";
    opacity: 0;
    animation: cursor 1s infinite;
}

span.terminal-input:focus {
    outline: 0px solid transparent;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
